h1 {
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

h2 {
    color: blue;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.h2 {
    color: orange;
}

h3 {
    color: rgb(174, 173, 174);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

p {
    color: brown;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: justify;

}

.description {
    color: brown;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
}
.half-width img{
    width: 100%;
}
.div1{
    margin-left: 10%;
}