body {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-left: 0;

}
p{
    text-align: justify;

}

h1 {
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-top: 12%;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

}

.half-width img {
    width: 100%;

}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;

}

.top-bannar {
    background-image: url(image/header_bbg.png);
    background-repeat: no-repeat;

}